
.card{
    border: none;
    display: grid;
    gap:15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
}
.card > *{
    background-color: #b0d9ff;
    border: 0.8px solid skyblue;
    border-radius: 5px;
    padding:15px;
}
.summary {
    border: 1px solid skyblue;
    border-radius: 5px;
    padding: 15px;
}
.summary p {
    margin-bottom: 0;
}
.col-lg-3{
    background-color:#f8f9fa;
}
